<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin-Bereich</title>
    <link rel="stylesheet" href="../public/css/usersBearbeiten.css">

</head>
<body>

<% include partials/buttonbar.ejs %>

<% include partials/userButtonBar.ejs %>

<div id="bearbeitenPanel"></div>
<table>
    <tr>
        <th>UserID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Position</th>
        <th>Standort</th>
        <th>Telefon</th>
        <th>Mail</th>
    </tr>
    <% userAll.forEach(function (userAll) { %>
        <tr>
            <td><%= userAll.ID %></td>
            <td><%= userAll.vorname %></td>
            <td><%= userAll.nachname %></td>
            <td><%= userAll.position %></td>
            <td><%= userAll.standort %></td>
            <td><%= userAll.telefon %></td>
            <td><%= userAll.mail %></td>
        </tr>

    <% }); %>
</table>


<div id="panel"></div>

</body>
</html>
